# Ignore Jupyter Notebook files in language statistics
*.ipynb linguist-documentation
*.ipydb linguist-documentation

# Ensure C++ files are recognized correctly
*.cpp linguist-language=C++
*.h linguist-language=C++
